:root {
  --color-bg-footer: #1C1B1B;
  --color-bg: #131313;
  --color-bg-detail: #1C1B1B;
  --color-bg-section: #424845;
  --color-bg-items: #0E0E0E;
  --color-title: #E5E2E1;
  --color-text-primary: #C2C8C3;
  --color-text-muted: #b0b0b0;
  --color-accent: #ffffff;
  --color-underline: #ffffff;
  --color-border: #333634;
  --color-bg-button: #D3E7DD;

  --font-family-base: 'Vazirmatn', 'Vazir';
  --font-size-nav: 15px;
  --font-size-nav-active: 17px;
  --font-size-brand: 20px;

  --header-height: 64px;
  --header-padding-x: 40px;
  --nav-gap: 32px;
  --icon-size: 22px;
  --icon-gap: 16px;

  --underline-offset: 8px;
  --underline-height: 2px;
  --underline-width: 24px;
  
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}